@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home {
  display: grid;
  height: 100%;
  animation: fadein 3s;
}

.home-view {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(102, 0, 185, 0.95);
  animation: fadein 3s;
  padding: 1em;
  border: 2px solid white;
  border-top: 0;
  border-radius: 0 0 10px 10px;
}

.home-logo {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  color: #ccefff;
}

.home-logo img {
  padding-right: 15px;
}
.auth-btns {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family:
    Interstate,
    Lucida Grande,
    Lucida Sans Unicode,
    Lucida Sans,
    Garuda,
    Verdana,
    Tahoma,
    sans-serif;
}

#login {
  font-size: 14px;
  height: 30px;
  width: 80px;
  background-color: Transparent;
  border: 1px solid #ccefff;
  border-radius: 3px;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

#login:hover {
  background-color: #ccefff42;
  cursor: pointer;
}

#signup {
  font-size: 14px;
  height: 30px;
  width: 100px;
  background-color: #ccefff;
  border: 1px solid #ccefff;
  border-radius: 3px;
  padding: 5px 25px;
  text-decoration: none;
  color: black;
  transition: border 0.3s ease-in-out;
}

#signup:hover {
  cursor: pointer;
  border-bottom: 4px solid black;
}

.github-icon {
  height: 32px;
  width: 32px;
}

.auth-btns > * {
  margin-right: 1em;
}

.home h1 {
  margin: 5px auto;
  padding-top: 80px;
  color: white;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
}

.home p {
  color: #ccefff;
  font-weight: bolder;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: 1000px;
}
