.home {
    display: grid;
    height: 100%;
}

.blue-bar {
    background-color: blue;
    height: 5px;
}

.home-view {
    background-image: url("https://images.pexels.com/photos/1238941/pexels-photo-1238941.jpeg?cs=srgb&dl=grayscale-photography-of-person-playing-turntable-1238941.jpg&fm=jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 720px;
    margin-top: 5px;
}

.home-header {
    display: flex;
    justify-content: space-between
}

.home-logo {
    font-size: 40px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    color: #ccefff;
    padding-left: 30px;
    padding-top: 30px;
}

.auth-btns {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 200px;
    margin-top: 30px;
    margin-right: 100px;
    font-size: 14px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

#login {
    font-size: 14px;
    height: 30px;
    width: 80px;
    background-color: Transparent;
    border: 1px solid #ccefff;
    border-radius: 3px;
    padding: 5px 15px;
    text-decoration: none;
    color: #ccefff;
}

#login:hover {
    border: 1px solid white;
    cursor: pointer;
}

#signup {
    font-size: 14px;
    height: 30px;
    width: 100px;
    background-color: #ccefff;
    border: 1px solid #ccefff;
    border-radius: 3px;
    padding: 5px 25px;
    text-decoration: none;
    color: black;
}

#signup:hover {
    cursor: pointer;
}

.home h1 {
    margin: 5px auto;
    padding-top: 80px;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}

.home p {
    /* margin: 100px auto; */
    color: #ccefff;
    font-weight: bolder;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 1000px;
}


