.library-tracks {
    margin-bottom: 48px;
}

.library-tracks h1{
    font-size: 30px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
}

.library-note {
    font-size: 15px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    margin-bottom: 8px;
    color: white;
}