.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(228, 228, 228, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 100;
}

#close-out {
  z-index: 999;
  background-color: transparent;
  color: rgb(82, 78, 78);
  font-size: 35px;
  position: fixed;
  right: 20px;
  top: 10px;
  font-family: 'Quicksand', sans-serif;
  border: none;
  font-weight: 200px;
}

#close-out:active {
  transform: translateY(2px);
}
