.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00b8e6;
    padding: 5px;
    height: 80px;
}

.nav-bar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar-logo img{
    padding: 0 15px 0 15px;
}

.logo {
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    color: #ccefff;
    /* padding: 20px; */
}

.nav-bar-profile-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: #00b8e6;
    border-left: 1px solid black;
    height: 70px;
    width: 80px;
}

.nav-bar-profile-icon h2 {
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.nav-bar-profile-icon button {
    margin-left: 10px;
    width: 70px;
    height: 30px;
} 


