.upgrade-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upgrade-container h1 {
  margin: 0 auto;
  font-family:
    Interstate,
    Lucida Grande,
    Lucida Sans Unicode,
    Lucida Sans,
    Garuda,
    Verdana,
    Tahoma,
    sans-serif;
  font-size: 27px;
  margin-top: 20px;
  margin-bottom: 60px;
  border-bottom: 3px solid #f76411;
  color: rgb(218, 218, 218);
}

.upgrade-container .soundcloud-img {
  margin: 0 auto;
}
