#upload {
    color: white;
}

.your-tracks-header {
    color: white;
}

.your-tracks-body {
    margin-bottom: 48px;
}

.your-tracks-body h1 {
    font-size: 30px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    padding-bottom: 15px;
}